body{
    background-color:rgb(146, 251, 251);
}

header {
    display: flex;
    align-items: center;
    margin-top: 1em;
    background-color: #3e3a3a;
    color: #fff;
    padding: 5px;
    text-align: center;
    border-radius: 3%;
    
}
h2{
    margin-left: 1em;
}
p{
    margin-left: 2em;
    margin-right: 2em;

}

.imagenPerfil{
    width: auto; /* El "auto" mantiene la proporción original */
    height: 250px; /* Establece la altura deseada */
    clip-path: circle(40%);
}

.grid{
display: grid;
justify-content: center;
align-items: center;

margin: 4%;
grid-template-columns: 1fr 1fr ;
grid-template-rows: 1fr 1fr ;
}


.drop{
    animation: dropIn 1s ease forwards;
    animation-delay: calc(var(order) * 100ms);
}
@keyframes dropIn {
    from { transform: translateY(-500px);}
    to {transform: translateY(500px);}
}

.color-changing-text {
    animation: colorChange 3s infinite; /* Aplica la animación */
}

@keyframes colorChange {
    0% { color: red; } /* Define el color inicial */
    25% { color: blue; } /* Define otro color */
    50% { color: green; } /* Define otro color */
    75% { color: orange; } /* Define otro color */
    100% { color: red; } /* Vuelve al color inicial */
}

.linkedln{
    
    position: absolute;
    scale: 250%;
}

.socials{
    display: grid;
    place-items: center;
    grid-template-columns: 2fr 1fr;
    margin-top: 2em;
}