body{
    background-color:rgb(146, 251, 251);
}

header {
    display: flex;
    align-items: center;
    margin-top: 1em;
    background-color: #3e3a3a;
    color: #fff;
    padding: 5px;
    text-align: center;
    border-radius: 3%;
    
}
h2{
    margin-left: 1em;
}
p{
    margin-left: 2em;
    margin-right: 2em;

}

.imagenPerfil{
    width: auto; /* El "auto" mantiene la proporción original */
    height: 250px; /* Establece la altura deseada */
    clip-path: circle(40%);
    
}

.grid{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 4px;
    max-width: 80%;
    margin-left: 10%;
    

    grid-template-columns: .5fr .5fr ;
    grid-template-rows: .1fr .1fr ;
}

ul{
    align-items: center;
    border-style: solid;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5%;
    margin: 1%;
    aspect-ratio: 1/1;
    margin-right: 30%;
    
}

.table{
    margin:2%;
    margin-left: 10%;
}

.tabla-transparente {
    background-color: rgba(255, 255, 255, 0.5); /* Cambia los valores de rgba según el nivel de transparencia deseado */
    /* Añade otros estilos si es necesario */
}

.drop{
    animation: dropIn 2s ease forwards;
    animation-delay: calc(var(order) * 100ms);
}
@keyframes dropIn {
    from { transform: translateY(-500px);}
    to {transform: translateY(0px);}
}

.color-changing-text {
    animation: colorChange 3s infinite; /* Aplica la animación */
}

@keyframes colorChange {
    0% { color: red; } /* Define el color inicial */
    25% { color: blue; } /* Define otro color */
    50% { color: green; } /* Define otro color */
    75% { color: orange; } /* Define otro color */
    100% { color: red; } /* Vuelve al color inicial */
}

.linkedln{
    
    position: absolute;
    scale: 250%;
}

.socials{
    display: grid;
    place-items: center;
    grid-template-columns: 2fr 1fr;
    margin-top: 2em;
}